.home-card {
    max-width: 300px;
    margin: 20px;
}
.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
//   .home-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
  